In [24]:
import pandas as pd
import pprint

In [45]:
pp = pprint.PrettyPrinter(indent=2)

input_file = r'.\gg_fare_filing.xlsx'
orig = 'NYC'
currency = 'USD'

In [35]:
df_input = pd.read_excel(input_file, sheet_name='input', na_filter=False)
df_input.head()

  dest booking_class season  base_fare direct
0  TPE             Y      L       2300
1  TPE             B      L       2265
2  TPE             C      L       5000      D
3  SGN             M      L       1000
4  SGN             Q      L        800

In [36]:
df_cabin_mapping = pd.read_excel(input_file, sheet_name='cabin_mapping')
df_cabin_mapping.head()

  booking_class            cabin
0             W  Premium Economy
1             U  Premium Economy
2             A  Premium Economy
3             E  Premium Economy
4             Y          Economy

In [37]:
df_season_mapping = pd.read_excel(input_file, sheet_name='season_mapping')
df_season_mapping.head()

  season season_code
0      L           L
1     K1           K
2     K2           K
3     H1           H
4     H2           H

In [38]:
df_input = pd.merge(df_input, df_cabin_mapping, on='booking_class')
df_input = pd.merge(df_input, df_season_mapping, on='season')
df_input.head()

  dest booking_class season  base_fare direct     cabin season_code
0  TPE             Y      L       2300          Economy           L
1  TPE             B      L       2265          Economy           L
2  TPE             C      L       5000      D  Business           L
3  SGN             M      L       1000          Economy           L
4  SGN             Q      L        800          Economy           L

In [39]:
df_fare_combination = pd.read_excel(input_file, sheet_name='fare_combination', na_filter=False)
df_fare_combination.head()

  weekend  weekend_surcharge oneway  oneway_multiplier oneway_mapping
0       X                  0                       1.0             RT
1       W                 80                       1.0             RT
2       X                  0      O                0.6             OO
3       W                 80      O                0.6             OO

In [40]:
def gen_fares():
    output = []

    # loop through each input row
    for i, row_input in df_input.iterrows():
        dest = row_input['dest']
        booking_class = row_input['booking_class']
        season = row_input['season']
        season_code = row_input['season_code']
        base_fare = row_input['base_fare']
        direct = row_input['direct']
        cabin = row_input['cabin']
        
        # create different weekend and oneway combinations
        for j, row_fare_combination in df_fare_combination.iterrows():
            weekend = row_fare_combination['weekend']
            oneway = row_fare_combination['oneway']
            weekend_surcharge = row_fare_combination['weekend_surcharge']
            oneway_multiplier = row_fare_combination['oneway_multiplier']
            oneway_mapping = row_fare_combination['oneway_mapping']

            fare_basis = booking_class + season_code + weekend + 'S' + oneway + direct + 'E'
            fare = (base_fare + weekend_surcharge) * oneway_multiplier
            
            row_output = {
                'orig': orig,
                'dest': dest,
                'fare_basis': fare_basis,
                'booking_class': booking_class,
                'cabin': cabin,
                'ow/rt': oneway_mapping,
                'blank1': '',
                'blank2': '',
                'blank3': '',
                'currency': currency,
                'fare': fare
            }
            
            output.append(row_output)
    return output

In [41]:
pp.pprint(gen_fares())

[ { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'Y',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 2300.0,
    'fare_basis': 'YLXSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'Y',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 2380.0,
    'fare_basis': 'YLWSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'Y',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 1380.0,
    'fare_basis': 'YLXSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'Y',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 1428.0,
    'fare_basis': 'YLWSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'B',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 2265.0,
    'fare_basis': 'BLXSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'B',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 2345.0,
    'fare_basis': 'BLWSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'B',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 1359.0,
    'fare_basis': 'BLXSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'B',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 1407.0,
    'fare_basis': 'BLWSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'C',
    'cabin': 'Business',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 5000.0,
    'fare_basis': 'CLXSDE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'C',
    'cabin': 'Business',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 5080.0,
    'fare_basis': 'CLWSDE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'C',
    'cabin': 'Business',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 3000.0,
    'fare_basis': 'CLXSODE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'C',
    'cabin': 'Business',
    'currency': 'USD',
    'dest': 'TPE',
    'fare': 3048.0,
    'fare_basis': 'CLWSODE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'M',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'SGN',
    'fare': 1000.0,
    'fare_basis': 'MLXSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'M',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'SGN',
    'fare': 1080.0,
    'fare_basis': 'MLWSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'M',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'SGN',
    'fare': 600.0,
    'fare_basis': 'MLXSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'M',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'SGN',
    'fare': 648.0,
    'fare_basis': 'MLWSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'Q',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'SGN',
    'fare': 800.0,
    'fare_basis': 'QLXSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'Q',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'SGN',
    'fare': 880.0,
    'fare_basis': 'QLWSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'Q',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'SGN',
    'fare': 480.0,
    'fare_basis': 'QLXSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'Q',
    'cabin': 'Economy',
    'currency': 'USD',
    'dest': 'SGN',
    'fare': 528.0,
    'fare_basis': 'QLWSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'J',
    'cabin': 'Business',
    'currency': 'USD',
    'dest': 'BKK',
    'fare': 4000.0,
    'fare_basis': 'JLXSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'J',
    'cabin': 'Business',
    'currency': 'USD',
    'dest': 'BKK',
    'fare': 4080.0,
    'fare_basis': 'JLWSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'J',
    'cabin': 'Business',
    'currency': 'USD',
    'dest': 'BKK',
    'fare': 2400.0,
    'fare_basis': 'JLXSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'J',
    'cabin': 'Business',
    'currency': 'USD',
    'dest': 'BKK',
    'fare': 2448.0,
    'fare_basis': 'JLWSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'A',
    'cabin': 'Premium Economy',
    'currency': 'USD',
    'dest': 'BKK',
    'fare': 3000.0,
    'fare_basis': 'ALXSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'A',
    'cabin': 'Premium Economy',
    'currency': 'USD',
    'dest': 'BKK',
    'fare': 3080.0,
    'fare_basis': 'ALWSE',
    'orig': 'NYC',
    'ow/rt': 'RT'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'A',
    'cabin': 'Premium Economy',
    'currency': 'USD',
    'dest': 'BKK',
    'fare': 1800.0,
    'fare_basis': 'ALXSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'},
  { 'blank1': '',
    'blank2': '',
    'blank3': '',
    'booking_class': 'A',
    'cabin': 'Premium Economy',
    'currency': 'USD',
    'dest': 'BKK',
    'fare': 1848.0,
    'fare_basis': 'ALWSOE',
    'orig': 'NYC',
    'ow/rt': 'OO'}]

In [42]:
output = gen_fares()

In [43]:
columns = [
    'orig', 
    'dest', 
    'fare_basis', 
    'booking_class', 
    'cabin', 
    'ow/rt', 
    'blank1', 
    'blank2', 
    'blank3', 
    'currency', 
    'fare'
]
df_output = pd.DataFrame(columns=columns, data=output)
df_output

,orig,dest,fare_basis,booking_class,cabin,ow/rt,blank1,blank2,blank3,currency,fare
0,NYC,TPE,YLXSE,Y,Economy,RT,,,,USD,2300.0
1,NYC,TPE,YLWSE,Y,Economy,RT,,,,USD,2380.0
2,NYC,TPE,YLXSOE,Y,Economy,OO,,,,USD,1380.0
3,NYC,TPE,YLWSOE,Y,Economy,OO,,,,USD,1428.0
4,NYC,TPE,BLXSE,B,Economy,RT,,,,USD,2265.0
5,NYC,TPE,BLWSE,B,Economy,RT,,,,USD,2345.0
6,NYC,TPE,BLXSOE,B,Economy,OO,,,,USD,1359.0
7,NYC,TPE,BLWSOE,B,Economy,OO,,,,USD,1407.0
8,NYC,TPE,CLXSDE,C,Business,RT,,,,USD,5000.0
9,NYC,TPE,CLWSDE,C,Business,RT,,,,USD,5080.0
10,NYC,TPE,CLXSODE,C,Business,OO,,,,USD,3000.0
11,NYC,TPE,CLWSODE,C,Business,OO,,,,USD,3048.0
12,NYC,SGN,MLXSE,M,Economy,RT,,,,USD,1000.0
13,NYC,SGN,MLWSE,M,Economy,RT,,,,USD,1080.0
14,NYC,SGN,MLXSOE,M,Economy,OO,,,,USD,600.0
15,NYC,SGN,MLWSOE,M,Economy,OO,,,,USD,648.0
16,NYC,SGN,QLXSE,Q,Economy,RT,,,,USD,800.0
17,NYC,SGN,QLWSE,Q,Economy,RT,,,,USD,880.0
18,NYC,SGN,QLXSOE,Q,Economy,OO,,,,USD,480.0
19,NYC,SGN,QLWSOE,Q,Economy,OO,,,,USD,528.0
20,NYC,BKK,JLXSE,J,Business,RT,,,,USD,4000.0
21,NYC,BKK,JLWSE,J,Business,RT,,,,USD,4080.0
22,NYC,BKK,JLXSOE,J,Business,OO,,,,USD,2400.0
23,NYC,BKK,JLWSOE,J,Business,OO,,,,USD,2448.0
24,NYC,BKK,ALXSE,A,Premium Economy,RT,,,,USD,3000.0
25,NYC,BKK,ALWSE,A,Premium Economy,RT,,,,USD,3080.0
26,NYC,BKK,ALXSOE,A,Premium Economy,OO,,,,USD,1800.0
27,NYC,BKK,ALWSOE,A,Premium Economy,OO,,,,USD,1848.0

In [46]:
sheet_name = 'copy_this'
with pd.ExcelWriter(input_file, engine="openpyxl", mode='a') as writer:
    workbook = writer.book
    try:
        workbook.remove(workbook[sheet_name])
    except:
        print('Worksheet does not exist')
    finally:
        df_output.to_excel(writer, sheet_name=sheet_name, index=False)